@model IEnumerable<Frontend.Models.DoctorNoteModel>

@{
    ViewData["Title"] = "GetNotes";
}

<h4>@($"All Notes for {ViewBag.PatientName}")</h4>

<p>
    @Html.ActionLink("New Note", "CreateForm", "Note", new { patientId = ViewBag.PatientId, patientName = ViewBag.PatientName }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    @Html.ActionLink("Generate Report", "GenerateReport", "Patient", new { patientId = ViewBag.PatientId }, new { @class = "btn btn-primary" })
</p>
