@model Frontend.ViewModels.PatientViewModel

@{
    ViewData["Title"] = "GetPatients";
}

<h4>Patients</h4>

<div class="container mt-4">
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.Patients.First().Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.Patients.First().GivenName)</th>
            <th>@Html.DisplayNameFor(Model => Model.Patients.First().FamilyName)</th>
            <th>@Html.DisplayNameFor(Model => Model.Patients.First().Dob)</th>
            <th>@Html.DisplayNameFor(Model => Model.Patients.First().Sex)</th>
            <th>@Html.DisplayNameFor(Model => Model.Patients.First().Address)</th>
            <th>@Html.DisplayNameFor(Model => Model.Patients.First().Phone)</th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var patient in Model.Patients)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@patient.GivenName</td>
                    <td>@patient.FamilyName</td>
                    <td>@patient.Dob.ToString("MM/dd/yyyy")</td>
                    <td>@patient.Sex</td>
                    <td>@patient.Address</td>
                    <td>@patient.Phone</td>
                    <td>@Html.ActionLink("Edit Patient Info", "UpdateForm", "Patient", new { patientId = @patient.Id }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("See Notes", "GetNotes", "Note", new { patientId = @patient.Id, patientName = @patient.GivenName + " " + @patient.FamilyName}, new { @class = "btn btn-primary" })</td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="CreateForm" class="btn btn-primary">Create New Patient</a>
    </p>
</div>